streamlit
setuptools
wheel
neo4j
langchain
langchain-groq
langchain-community
huggingface-hub
transformers
torch
networkx
plotly
pyvis
py2neo
python-dotenv
scikit-learn
sentence-transformers
altair
pandas
numpy
tqdm
